<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>Emerging Africa Email</title>
    <style>
        @media only screen and (max-width: 600px) {
            .wrapper {
                width: 100% !important;
            }
            .container{
                margin: 2% !important;
            }
        }

        .wrapper {
            width: 1000px;
            margin: 0 auto;
            background: #f1f1f1;
            min-height: 900px;
        }

        .container {
            margin-left: 10%;
            margin-right: 10%;
            background-color: #fff;
            text-align: center;
            margin-top: 5%;
            padding: 5%;
        }

        .logo-wrapper {
            width: 100%;
            height: 64px;
            background: #F57921;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        h3 {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;

            text-align: center;

            color: #333333;

        }

        p.text {
            font-family: 'Inter', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            text-align: center;

            color: #666666;

        }

        .code-box {
            width: 64px !important;
            height: 64px !important;
            border-radius: 100%;
            background: #FFF6F5;
            font-family: 'Inter', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 39px;
            line-height: 47px;

            color: #B3B3B3;

        }

        p.footer-text {
            font-family: 'Inter', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 150%;

            text-align: center;

            color: #666666;

        }

        .footer-link a {
            font-family: 'Inter', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;

            text-align: center;
            text-decoration-line: underline;

            color: #666666;
            padding-right: 15px;
            padding-left: 15px;

        }

        .footer-link a:not(:last-child) {
            border-right: 1px solid #C4C4C4;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="logo-wrapper">
            <img src="" alt="">
        </div>
        <div class="container">
            <img src="" alt="">
            <h3>Email OTP Verification</h3>

            <p class="text">Hello {{name}},</p>

            <p class="text">Below is your one time passcode that you need to use to verify your<br> authorization.
                Please
                do not share this code with anyone. The code will be valid for 30 minutes.</p>
            <center>

                <div
                    style="text-align: center; display: flex; justify-content: space-around; width: 300px; margin-top: 30px">
                    <div class="code-box" style="padding-top: 3px; padding-left: 3px;">
                        {{otp1}}
                    </div>
                    <div class="code-box" style="padding-top: 3px; padding-left: 3px;">
                        {{otp2}}
                    </div>
                    <div class="code-box" style="padding-top: 3px; padding-left: 3px;">
                        {{otp3}}
                    </div>
                    <div class="code-box" style="padding-top: 3px; padding-left: 3px;">
                        {{otp4}}
                    </div>

                </div>
            </center>
            <p class="text" style="margin-top: 20px;">If you are having any issues with your account, please don’t
                hesitate to <br>contact us by replying to this email.</p>

        </div>
    </div>
</body>

</html>